@model Group7_iFINANCEAPP.Models.Administrator

@{
    ViewBag.Title = "Create";
}

<div class="container my-5">
    <div class="card shadow-sm rounded-4 p-5">
        <h2 class="text-center mb-4">Create New Administrator</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="mb-4">
                @Html.LabelFor(model => model.name, "Name", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>

            <div class="mb-4">
                @Html.LabelFor(model => model.dateHired, "Hire Date", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.dateHired, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateHired, "", new { @class = "text-danger" })
            </div>

            <div class="mb-4">
                @Html.LabelFor(model => model.dateFinished, "Finish Date", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.dateFinished, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateFinished, "", new { @class = "text-danger" })
            </div>

            <div class="mb-4">
                <label for="username" class="form-label">Username</label>
                <input id="username" class="form-control" name="username" type="text" value="" />
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input id="password" class="form-control" name="password" type="text" value="" />
            </div>

            <div class="text-center mt-4">
                <input type="submit" value="Create" class="btn btn-primary btn-lg me-3" />
                <a href="@Url.Action("Index", "NonAdminUsers")" class="btn btn-secondary btn-lg">Back to List</a>
            </div>
        }
    </div>
</div>

<style>
    .btn-primary {
        background-color: #8058ac;
        border-color: #8058ac;
    }

    .btn-primary:hover {
        background-color: #7048a0;
        border-color: #7048a0;
    }

    .btn-primary:active {
        background-color: #7048a0;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
