@model Group7_iFINANCEAPP.Models.Administrator

@{
    ViewBag.Title = "Details";
}

<div class="container my-5">
    <div class="card shadow-sm rounded-4 p-5">

        <h2 class="mb-4 text-center">Administrator Details</h2>
        <div class="card-body">
            <h4 class="card-title">User Account</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt class="col-sm-3">Date Hired</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.dateHired)
                </dd>

                <dt class="col-sm-3">Date Finished</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.dateFinished)
                </dd>
            </dl>
        </div>

        <div class="mt-4">
            @Html.ActionLink("Edit", "EditAdmin", new { id = Model.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>

    </div>
</div>

<style>
    .btn-primary {
        background-color: #8058ac;
        border-color: #8058ac;
    }

    .btn-primary:hover {
        background-color: #7048a0;
        border-color: #7048a0;
    }

    .btn-primary:active {
        background-color: #7048a0;
    }
</style>
