@model Group7_iFINANCEAPP.Models.NonAdminUser

@{
    ViewBag.Title = "Edit";
}

<div class="container my-5">
    <div class="card shadow-sm rounded-4 p-5">
        <h2 class="mb-4 text-center">Edit Non-Admin User</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })
            @Html.HiddenFor(model => model.ID)

            <div class="mb-3">
                @Html.LabelFor(model => model.name, "Name", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.address, "Address", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password" type="text" class="form-control" placeholder="Leave blank to keep current password" />
            </div>

            <div class="d-flex justify-content-start gap-2 mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("Index", "NonAdminUsers")" class="btn btn-secondary">Back to List</a>
            </div>
        }
    </div>
</div>

<style>
    .btn-primary {
        background-color: #8058ac;
        border-color: #8058ac;
    }

    .btn-primary:hover {
        background-color: #7048a0;
        border-color: #7048a0;
    }

    .btn-primary:active {
        background-color: #7048a0;
    }
</style>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
