@model Group7_iFINANCEAPP.Models.ViewModels.ManageUsersViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Manage Users</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="nonadmin-tab" data-bs-toggle="tab" data-bs-target="#nonadmin" type="button" role="tab" aria-controls="home" aria-selected="true">NonAdmin Users</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin" type="button" role="tab" aria-controls="profile" aria-selected="false">Admin Users</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="nonadmin" role="tabpanel" aria-labelledby="nonadmin-tab">
        <p>
            @Html.ActionLink("Add New User", "CreateNonAdmin")
        </p>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Email
                </th>
                <th>
                    Created By
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.NonAdminUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Administrator.name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditNonAdmin", new { id = item.ID }) |
                        @Html.ActionLink("Details", "DetailsNonAdmin", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "DeleteNonAdmin", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>

    </div>
    <div class="tab-pane" id="admin" role="tabpanel" aria-labelledby="admin-tab">

        <p>
            @Html.ActionLink("Add New User", "CreateAdmin")
        </p>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Administrators)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditAdmin", new { id = item.ID }) |
                        @Html.ActionLink("Details", "DetailsAdmin", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "DeleteAdmin", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>