@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="accounts">Accounts</h2>
            <p>
                When logged in as an administrator, manage user accounts.
            </p>
            <p>@Html.ActionLink("Accounts", "Index", "NonAdminUsers", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="login">Login</h2>
            <p>
                Use to log into accounts.
            </p>
            <p>@Html.ActionLink("Login", "Index", "Login", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="groups">Groups</h2>
            <p>
                Manage account groups here.
            </p>
            <p>@Html.ActionLink("Groups", "Index", "Groups", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
    </div>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="chartAccounts">Chart of Accounts</h2>
            <p>
                Manage account categories in the Chart of Accounts.
            </p>
            <p>@Html.ActionLink("Chart of Accounts", "Index", "ChartAccounts", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="transactions">Transactions</h2>
            <p>
                Use to log double-entry transactions, line-by-line.
            </p>
            <p>@Html.ActionLink("Transactions", "Index", "Transactions", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="reports">Reports</h2>
            <p>
                Generate financial reports with iFINANCE data here.
            </p>
            <p>@Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
    </div>
</main>