@model IEnumerable<Group7_iFINANCEAPP.Models.ViewModels.TransactionWithLinesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Double-Entry Transactions</h2>

<p>
    @Html.ActionLink("Enter New Transaction", "Create")
</p>
<table class="table">
    <tr>
        <th>Transaction ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Lines</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Transaction.ID</td>
            <td>@item.Transaction.date</td>
            <td>@item.Transaction.description</td>
            <td>
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Line ID</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Comment</th>
                    </tr>
                    @foreach (var line in item.TransactionLines)
                    {
                        <tr>
                            <td>@line.ID</td>
                            <td>@line.creditedAmount</td>
                            <td>@line.debitedAmount</td>
                            <td>@line.comment</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }

</table>