@model IEnumerable<Group7_iFINANCEAPP.Models.ViewModels.TransactionWithLinesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Double-Entry Transactions</h2>

<p>
    @Html.ActionLink("Enter New Transaction", "Create")
</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
        <th>Transaction Lines</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Transaction.ID</td>
            <td>@item.Transaction.date</td>
            <td>@item.Transaction.description</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Transaction.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Transaction.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Transaction.ID })
            </td>
            <td>
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Line ID</th>
                        <th>Credit</th>
                        <th>Credit Account</th>
                        <th>Debit</th>
                        <th>Debit Account</th>
                        <th>Comment</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var line in item.TransactionLines)
                    {
                        <tr>
                            <td>@line.ID</td>
                            <td>@line.creditedAmount</td>
                            <td>@line.MasterAccount.name</td>
                            <td>@line.debitedAmount</td>
                            <td>@line.MasterAccount1.name</td>
                            <td>@line.comment</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "TransactionLines", new { id = line.ID}, null) |
                                @Html.ActionLink("Details", "Details", "TransactionLines", new { id = line.ID }, null) |
                                @Html.ActionLink("Delete", "Delete", "TransactionLines", new { id = line.ID }, null)
                            </td>
                        </tr>
                    }
                </table>
                <p>
                    @Html.ActionLink("Enter New Transaction Line", "Create", "TransactionLines", new {transactionId = item.Transaction.ID }, null)
                </p>
            </td>
        </tr>
    }

</table>