@model IEnumerable<Group7_iFINANCEAPP.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountCategory.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountCategory.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
    -->


@helper RenderSubgroup(Group7_iFINANCEAPP.Models.Group group)
{
    <details>
        <summary>
            @group.name @Html.ActionLink("Edit", "Edit", new { id = group.ID }) |
            @if (group.Groups.Count == 0)
            {
                @Html.ActionLink("Delete", "Delete", new { id = group.ID })
            } else
            {
                <span class="disabled-link" title="Must delete all subgroups first">Delete</span>
            }
        </summary>
        @foreach (var subgroup in group.Groups)
        {
            @RenderSubgroup(subgroup)
        }
    </details>
}

@foreach (Group7_iFINANCEAPP.Models.AccountCategory accountCategory in ViewBag.AccountCategories)
            {
                <details>
                    <summary>
                        @accountCategory.name
                    </summary>
                    @foreach (var group in accountCategory.Group.Where(i => i.parentID == null))
                    {
                        @RenderSubgroup(group)
                    }
                </details>
            }



<style>
    details details {
        margin-left: 20px;
    }

    .disabled-link {
        color: cadetblue;
        text-decoration: underline dotted;
    }
</style>