@model IEnumerable<Group7_iFINANCEAPP.Models.Group>

@{
    ViewBag.Title = "Index";
}

<div class="container my-5">
    <div class="card shadow-sm rounded-4 p-5">
        <h2>Manage Groups</h2>

        @helper RenderSubgroup(Group7_iFINANCEAPP.Models.Group group)
        {
            <details>
                <summary>
                    @group.name @Html.ActionLink("Edit", "Edit", new { id = group.ID }, new { @class = "btn btn-primary btn-sm"}) |

                    @Html.ActionLink("Delete", "Delete", new { id = group.ID }, new { @class = "btn btn-danger btn-sm" })

                </summary>
                @foreach (var subgroup in group.Groups)
                {
                    @RenderSubgroup(subgroup)
                }
                @Html.ActionLink("Create New", "Create", new { accountCategoryId = group.AccountCategoryID, parentId = group.ID }, new {@class = "btn btn-purple btn-sm mt-2"})
            </details>
        }

        @foreach (Group7_iFINANCEAPP.Models.AccountCategory accountCategory in ViewBag.AccountCategories)
        {
            <details>
                <summary>
                    @accountCategory.name
                </summary>

                @{
                    int nonAdminUserID = (int)Session["NonAdminUserID"];
                }
                @foreach (var group in accountCategory.Group.Where(i => i.parentID == null && i.NonAdminUserID == nonAdminUserID))
                {
                    @RenderSubgroup(group)
                }

                @Html.ActionLink("Create New", "Create", new { accountCategoryId = accountCategory.ID }, new { @class = "btn btn-purple btn-sm mt-2" })

            </details>
        }
    </div>
</div>



<style>

    summary {
        font-size: 1.25em;
    }

    details details, details > a {
        margin-left: 35px;
    }

    .disabled-link {
        color: cadetblue;
        text-decoration: underline dotted;
    }

    .btn-primary {
        background-color: #8058ac;
        border-color: #8058ac;
    }

    .btn-primary:hover {
        background-color: #7048a0;
        border-color: #7048a0;
    }

    .btn-primary:active {
        background-color: #7048a0;
    }

    .btn-purple {
        background-color: #8058ac;
        border-color: #8058ac;
        color: white;
        width: 300px;
    }

        .btn-purple:hover {
            background-color: #7048a0;
            border-color: #7048a0;
            color: white;
        }

        .btn-purple:active {
            background-color: #7048a0;
        }
</style>
