@model Group7_iFINANCEAPP.Models.ViewModels.TrialBalanceViewModel

@{
    ViewBag.Title = "TrialBalance";
}

<h2>TrialBalance</h2>
<table class="table-bordered w-100">
    <tr>
        <th>Account Name</th>
        <th>Debit Amount</th>
        <th>Credit Amount</th>
    </tr>
    @foreach (var lineItem in Model.lineItems)
    {
        <tr>
            <td>@lineItem.accountName</td>
            <td>@lineItem.debit</td>
            <td>@lineItem.credit</td>
        </tr>

    }
    <tr>
        <td>Total</td>
        <td>@Model.totalDebit</td>
        <td>@Model.totalCredit</td>
    </tr>

</table>

@if(Model.totalDebit != Model.totalCredit)
{
    <div class="error-box">
        <h4>Warning!</h4>
        <p>It appears the sum of all debit accounts does not equal the sum of all credit accounts.
            This is likely because you forgot to create an account, or to debit or credit an account in a
            transaction properly. Reexamine your accounts and transactions to make sure you following 
            the double account methodology properly.
        </p>
    </div>
}

<style lang="scss">
    th,td{
        padding : 0 1%;
    }
    tr:nth-child(even) {
        background-color: #e9e9e9;
    }

    .error-box {
        margin-top: 2rem;
        padding:.5rem;
        background-color: #efefef;
        h4, p {
            color: #d42d2e;
        }
    }
</style>

