@model Group7_iFINANCEAPP.Models.MasterAccount

@{
    ViewBag.Title = "Details";
}

<div class="container my-5">
    <div class="card shadow-sm rounded-4 p-5">
        <h2 class="text-center mb-4">Master Account Details</h2>

        <dl class="row">
            <dt class="col-sm-4">Account ID</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ID)</dd>

            <dt class="col-sm-4">Account Name</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.name)</dd>

            <dt class="col-sm-4">Opening Amount</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.openingAmount)</dd>

            <dt class="col-sm-4">Closing Amount</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.closingAmount)</dd>

            <dt class="col-sm-4">Group ID</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.GroupID)</dd>
        </dl>

        <div class="text-center mt-4">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-lg" })
        </div>
    </div>
</div>

<style>
    .btn-primary {
        background-color: #8058ac;
        border-color: #8058ac;
    }

    .btn-primary:hover {
        background-color: #7048a0;
        border-color: #7048a0;
    }
</style>