@model IEnumerable<Group7_iFINANCEAPP.Models.MasterAccount>

@{
    ViewBag.Title = "Index";
}

<div class="container my-5">
    <div class="card shadow-sm rounded-4 p-5">
        <h2 class="text-center mb-4">Chart of Accounts</h2>

        <div class="text-center mb-4">
            @Html.ActionLink("Add New Master Account", "Create", null, new { @class = "btn btn-primary btn-lg" })
        </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Account Name</th>
                    <th>Opening Amount</th>
                    <th>Closing Amount</th>
                    <th>Group Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var account in Model)
                    {
                        @RenderAccount(account)
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .btn-primary {
        background-color: #8058ac;
        border-color: #8058ac;
    }

    .btn-primary:hover {
        background-color: #7048a0;
        border-color: #7048a0;
    }
</style>

@helper RenderAccount(Group7_iFINANCEAPP.Models.MasterAccount account)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => account.ID)</td>
        <td>@Html.DisplayFor(modelItem => account.name)</td>
        <td>@Html.DisplayFor(modelItem => account.openingAmount)</td>
        <td>@Html.DisplayFor(modelItem => account.closingAmount)</td>
        <td>@Html.DisplayFor(modelItem => account.Group.name)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = account.ID }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { id = account.ID }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}
